---
---
@import "{{ site.theme }}";
$color_main: #FCD6B5;
$color_text: #57585A;
$action_color: #51CAEF;
$max: 1150px;

body {
  color: $color_text;
  font-size: 18px;
}

a {
  color: $color_text;
  text-decoration: underline;
}

#skip-to-content {
  display: none;
}

#logo {
  width: 75%;
  max-width: 400px;
  margin-bottom: 1em;

  @media screen and (max-width: 64em) and (min-width: 42em) {
    width: 100%;
  }
}

.main-content {
  h1:first-child{
    display: none;
  }
}

.page-header {
  background-color: $color_main;
  background-image: none;
  color: $color_text;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: $action_color;
  line-height: 1.2;
}

.main-content h1 {
  margin-top: 3.5rem;
}

.header-content {
  margin: auto;
  max-width: $max;
}

.project-name {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  line-height: 1.2;
}

.project-tagline {
  margin-bottom: 2rem;
  line-height: 1.5;
  opacity: 1;
  max-width: $max;
}

.btn {
  color: white;
  background-color: $action_color;
  border-color: $action_color;

  &:hover {
    color: $color_text;
  }

}

.item {
  width: 50%;
  height: 100%;
  display: inline-block;

  img {
    height: auto;
    width: 100%;
  }
}

.container {
  background-color: black;
  flex-wrap: wrap;
  flex-direction: row;
}